@import 'reset.css';

* {
  box-sizing: border-box;
}

html,
body {
  background: rgb(54, 54, 54);
  color: rgb(236, 236, 236);
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
header {
  padding: 20px;
  z-index: 3;
  background: blue;
}
strong {
  font-weight: bold;
}

#app {
  // padding: 20px;
}
#game {
  display: flex;
  justify-content: space-around;
}
#player-selection {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: blue;
  padding: 20px;
  div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    margin: -75px 0 0 -200px;
  }
  h3 {
    font-size: 3em;
  }
  input {
    color: white;
  }
}
// Main game panel
#left-panel {
  display: flex;
  justify-content: space-around;
  width: 100%;
  div#player-one,
  div#player-two {
    position: relative;
    height: 250px;
    width: 50%;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
  }
  div.choices,
  div.stats {
    display: flex;
    justify-content: space-between;
  }
  div.choices {
    margin: 20px 0;
    p {
      padding: 10px;
      background: white;
      color: black;
      &:hover {
        color: white;
        background: blue;
      }
    }
  }
  div.stats {
    position: absolute;
    padding-right: 40px;
    width: 100%;
    bottom: 20px;
    font-size: 1.25em;
  }
}
// Chat panel
section#chat {
  position: absolute;
  right: 0;
  width: 250px;
  background: rgb(201, 201, 201);
  color: black;
  padding: 20px;
  div.toggle {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    right: 0;
    height: 75px;
  }
  span#chat-toggle {
    margin: 20px;
    font-size: 2em;
    cursor: pointer;
  }
  div.chat-window {
    margin-top: 20px;
  }
  form#chat-form {
    position: absolute;
    bottom: 0;
    padding: 5px;
    margin-bottom: 20px;
  }
  input#chat-msg {
    width: 150px;
  }
  div#chat-messages {
    padding: 10px;
    // overflow: scroll;
  }
  div.chat-message {
    border-top: 1px dotted rgb(230, 230, 230);
    padding-top: 5px;
    margin-top: 7px;
  }
  .timestamp {
    font-size: .8em;
  }
  .message,
  .log {
    font-size: .95em;
    margin-top: 5px;
  }
  &.active {
    height: 100%;
    top: 0;
    .chat-window {
      display: block;
    }
  }
  &.minimized {
    height: auto;
    bottom: 0;
    .chat-window {
      display: none;
    }
  }
}

/* COMPONENTS */
.form-group {
  margin: 20px 0;
  display: flex;
}
.form-group input,
.form-gropu button {
  padding: 10px;
}
.form-group input {
  width: 100%;
  border: 0;
  font-size: 0.9em;
  background: none;
  border-bottom: 2px solid white;
  &:focus {
    outline: none;
    border-bottom: 2px solid green;
  }
}
.btn {
  border-radius: 0;
  border: 0;
  font-size: 0.9em;
}
